<div class="flex flex-col items-center justify-center h-screen">
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <app-loan-card></app-loan-card>
  <!--  <div class="relative h-10 w-32 bg-gray-100">-->
  <!--    <div class="absolute inset-x-0 bottom-0 h4 m-2">08</div>-->
  <!--  </div>-->

  <!--  <div class="relative inset-x-0 bottom-1 w-96 h-12 rounded-lg bg-cyan-950">-->
  <!--  </div>-->
  <div class="relative h-10 md:w-96 max-w-sm bg-gray-100">
    <div class="absolute inset-x-0 bottom-0 items-center">
      <button type="button"
              class="rounded px-2 my-3 bg-cyan-950 text-white">
        Green
      </button>
    </div>
  </div>
</div>
