<div class="fixed z-10 inset-0 overflow-y-auto" *ngIf="show">
  <div class="flex items-center justify-center min-h-screen">
    <div class="fixed inset-0 bg-gray-500 bg-opacity-75"></div>
    <div class="z-50 card card-white max-w-sm rounded-lg p-6 w-full mx-2">
      <div class="mb-4">
        <h2 class="text-lg font-semibold">Modal daniel</h2>
      </div>
      <div class="mb-4">
        <p>Modal content goes here.</p>
      </div>
      <div class="flex justify-end">
        <button class="px-4 py-2 bg-gray-700 text-white rounded hover:bg-gray-600" (click)="closeModal()">Close</button>
      </div>
    </div>
  </div>
</div>
